@use "../../color";

.profile {
	display: flex;
	flex-direction: column;
	min-width: 640px;
	max-width: 640px;

	background-color: color.$profile-face;
	border-radius: 4px;
	box-sizing: border-box;

	.basic-data {
		display: flex;
		flex-direction: row;

		.icon {
			width: 40px;
			height: 40px;
			border-radius: 4px;
		}

		.name {
			margin: 0;
			padding: .25em 1em;

			.username {
				font-size: x-small;
				color: gray;
				cursor: pointer;
			}

			.owner {
				color: black;
				font-weight: bold;
			}
		}
	}

	.additional-data {
		.follow {
			display: flex;
			flex-direction: row;

			padding-left: 1em;

			div {
				margin-right: 1em;
			}
		}

		.uri,
		.description {
			margin: .25em 1em;
		}

		.location-and-create_at {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.location {
				padding: .25em 1em;
			}

			.craete_at {
				padding: .25em 1em;
			}
		}
	}

	.command {
		text-align: center;

		button {
			margin: 0.5em 1em 0;
			padding: 0.25em;
		}
	}
}